<h3>{{'Groups' | translate}}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{'ID' | translate}}</th>
            <th>{{'Name' | translate}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="group in groups">
            <td>{{group.Group.id}}</td>
            <td>{{group.Group.name}}</td>
            <td>
                <a class="btn btn-success"
                   data-ng-href="{{'#/groups/' + group.Group.id}}">
                    {{'Edit' | translate}}
                </a>
                <button type="button" 
                        class="btn btn-danger"
                        data-ng-click="delete(group.Group.id)">
                    {{'Delete' | translate}}
                </button>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success"
    href="#/groups/add/">
    {{'Add' | translate}}
 </a>