<h3>Users</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="user in users">
            <td>{{user.User.id}}</td>
            <td>{{user.User.name}}</td>
            <td>{{user.User.email}}</td>
            <td>
                <button type="button" 
                        class="btn btn-danger"
                        data-ng-click="delete(user.objectId)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>