<form data-ng-submit="update()">
    <h3>{{data.name}}</h3>
    <img data-ng-src="{{data['Image']['medium']}}"
         data-ng-if="data['Image']['medium']"
         alt="{{data.name}}"
         class="img-responsive">
    <p>
        {{'Deadline' | translate}}: {{data.end | date:'dd MMMM yyyy'}}
    </p>
    <div ng-bind-html="trustAsHtml(data.description)">

    </div>
    <div data-ng-repeat="question in data.Question" class="form-group">
        <p>
            <b>{{$index + 1}}. {{'Question' | translate}}:</b>
            {{question.question}}
            <a href="http://www.bing.com/search?q={{encodeURIComponent(question.question)}}"
               target="_blank">
                <img src="http://www.bing.com/rms/rms answers Multimedia logo_orange/ic/7225291e/abda0a32.png"
                     class="bing_logo">
                {{'Search' | translate}}
            </a>
        </p>
        <p>
            <label data-ng-attr-for="{{'answer_' + $index}}">
                <b>{{'Your answer' | translate}}:</b>
            </label>
            <input data-ng-model="answers[question.id].text"
                   type="text"
                   class="form-control"
                   data-ng-attr-id="{{'answer_' + $index}}">

        </p>
        <p data-ng-if="answers[question.id].mark">
            <b>{{'Mark' | translate}}:</b>
            <rating ng-model="answers[question.id].mark"
                max="maxMark"
                readonly="true"
                state-on="'glyphicon-star'"
                state-off="'glyphicon-star-empty'"></rating>
        </p>
        <p data-ng-if="answers[question.id].comment">
            <b>{{'Comment' | translate}}:</b>
            {{answers[question.id].comment}}
        </p>
        <hr data-ng-if="!$last">
    </div>
    <div class="form-group">
        <button
            type="submit"
            class="btn btn-success">{{'Save' | translate}}</button>
    </div>
</form>
