<h3>{{'Lessons' | translate}}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{'ID' | translate}}</th>
            <th>{{'Title' | translate}}</th>
            <th>{{'Start' | translate}}</th>
            <th>{{'End' | translate}}</th>
            <th>{{'Group' | translate}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="lesson in lessons">
            <td>{{lesson.Lesson.id}}</td>
            <td>{{lesson.Lesson.name}}</td>
            <td>{{lesson.Lesson.start}}</td>
            <td>{{lesson.Lesson.end}}</td>
            <td>{{lesson.Group.name}}</td>
            <td>
                <a class="btn btn-success"
                   data-ng-href="{{'#/answer/' + lesson.Lesson.id}}">
                    {{'Resolve' | translate}}
                </a>
            </td>
        </tr>
    </tbody>
</table>