<h3>{{'Lessons'| translate}}</h3>
<div class="row" data-ng-repeat="lessons in rows">
    <div class="col-xs-6 col-md-3" data-ng-repeat="lesson in lessons">
        <a href="{{'#/answer/' + lesson.Lesson.id}}"
           class="thumbnail">
            <img data-ng-src="{{lesson.Lesson.thumb_url}}"
                 alt="{{lesson.Lesson.name}}"
                 class="img-rounded"
                 width="100%">
        </a>
        <div class="caption">
            <h3>{{lesson.Lesson.name}}</h3>
            <p>
                <a href="{{'#/answer/' + lesson.Lesson.id}}"
                   class="btn btn-success"
                   role="button">{{'Resolve'| translate}}</a>
            </p>
        </div>
    </div>
</div>