/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.alerts-wrap {
    margin-left: 15px;
    position: absolute;
    top: 100px;
    width: 60%;
    z-index: 90;
}

.glyphicon-star {
    color: #FFD801;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.nav-tabs {
    margin-bottom: 0;
}