<h3 data-ng-if="id">Edit User</h3>
<h3 data-ng-if="!id">Add User</h3>
<form data-ng-submit="add()">
    <div class="form-group">
        <label>
            Name:
            <input type="text" data-ng-model="data.name" class="form-control" required>
        </label>
    </div>
    <div class="form-group">
        <label>
            Email:
            <input type="email" data-ng-model="data.email" class="form-control" required>
        </label>
    </div>
    <div class="form-group">
        <label>
            Role:
            <select
                class="form-control"
                data-ng-model="data.role"
                data-ng-required=""
                data-ng-options="role.Role.name for role in roles">
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>
            Group:
            <select
                class="form-control"
                data-ng-model="data.group"
                data-ng-required=""
                data-ng-options="group.Group.name for group in groups">
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>
            Password:
            <input type="password" data-ng-model="data.password" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Password Confirmation:
            <input type="password" data-ng-model="data.password_confirmation" class="form-control">
        </label>
    </div>
    <button
        type="submit"
        class="btn btn-default"
        data-ng-click="update()">Save</button>
</form>