<h3>{{'Users' | translate}}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{'ID' | translate}}</th>
            <th>{{'Username' | translate}}</th>
            <th>{{'Email' | translate}}</th>
            <th>{{'Role' | translate}}</th>
            <th>{{'Group' | translate}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="user in users">
            <td>{{user.User.id}}</td>
            <td>{{user.User.name}}</td>
            <td>{{user.User.email}}</td>
            <td>{{user.Role.name}}</td>
            <td>{{user.Group.name}}</td>
            <td>
                <a class="btn btn-success"
                   data-ng-href="{{'#/users/' + user.User.id}}">
                    {{'Edit' | translate}}
                </a>
                <button type="button" 
                        class="btn btn-danger"
                        data-ng-click="delete(user.User.id)">
                    {{'Delete' | translate}}
                </button>
            </td>
        </tr>
    </tbody>
</table>