<h3>{{'Register' | translate}}</h3>
<form data-ng-submit="register()">
    <div class="form-group">
        <label>
            {{'Name' | translate}}:
            <input type="text" data-ng-model="data.name" class="form-control" required>
        </label>
    </div>
    <div class="form-group">
        <label>
            {{'Email' | translate}}:
            <input type="email" data-ng-model="data.email" class="form-control" required>
        </label>
    </div>
    <div class="form-group">
        <label>
            {{'Password' | translate}}:
            <input type="password" data-ng-model="data.password" class="form-control" required>
        </label>
    </div>
    <div class="form-group">
        <label>
            {{'Password Confirmation' | translate}}:
            <input type="password" data-ng-model="data.password_confirmation" class="form-control" required>
        </label>
    </div>
    <button type="submit" class="btn btn-default">{{'Register' | translate}}</button>
</form>