<h3 data-ng-if="id">{{'Edit Lesson' | translate}}</h3>
<h3 data-ng-if="!id">{{'Add Lesson' | translate}}</h3>
<form data-ng-submit="update()">
    <div class="form-group">
        <label for="name">{{'Lesson Name' | translate}}:</label>
        <input type="text" data-ng-model="data.name" class="form-control" id="name" required>
    </div>
    <div class="form-group">
        <label for="image">{{'Featured Image' | translate}}:</label>
        <input type="file"
               accept="image/*" name="file"
               ng-model="picFile"
               ng-file-select="onFileSelect($files)">
        <img data-ng-if="data['thumb_url']" data-ng-src="{{data['thumb_url']}}">
        <br>
        <button type="button" data-ng-click="clearImage()">{{'Clear Image' | translate}}</button>
    </div>
    <div class="form-group">
        <label>
            {{'Start' | translate}}:
            <input type="text"
                   datepicker-popup="dd MMMM yyyy"
                   data-ng-model="data.start"
                   is-open="startDate.isOpen"
                   datepicker-options="dateOptions"
                   ng-click="startDate.isOpen = true"
                   class="form-control" required>
        </label>
    </div>
    <div class="form-group">
        <label>
            {{'End' | translate}}:
            <input type="text"
                   data-ng-model="data.end"
                   datepicker-popup="dd MMMM yyyy"
                   is-open="startEnd.isOpen"
                   ng-click="startEnd.isOpen = true"
                   class="form-control" required>
        </label>
    </div>
    <div class="form-group">
        <label>
            {{'Group' | translate}}:
            <select
                class="form-control"
                data-ng-model="data.group"
                data-ng-required=""
                data-ng-options="group.Group.name for group in groups">
            </select>
        </label>
    </div>
    <h3>{{'Questions' | translate}}</h3>
    <div data-ng-repeat="question in data.Question" class="form-group">
        <div class="input-group">
            <span class="input-group-addon">{{$index + 1}}.</span>
            <input data-ng-model="question.question" type="text" class="form-control">
            <span class="input-group-addon" data-ng-click="deleteQuestion(question)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <button type="button"
            data-ng-click="addQuestion()"
            class="btn btn-default">{{'Add Question' | translate}}</button>
    </div>
    <div class="form-group">
        <button
            type="submit"
            class="btn btn-default">{{'Save' | translate}}</button>
    </div>
</form>