<h3>{{'Roles' | translate}}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{'ID' | translate}}</th>
            <th>{{'Name' | translate}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="role in roles">
            <td>{{role.Role.id}}</td>
            <td>{{role.Role.name}}</td>
            <td>
                <a class="btn btn-success"
                   data-ng-href="{{'#/roles/' + role.Role.id}}">
                    {{'Edit' | translate}}
                </a>
                <button type="button" 
                        class="btn btn-danger"
                        data-ng-click="delete(role.Role.id)">
                    {{'Delete' | translate}}
                </button>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success"
    href="#/roles/add/">
    {{'Add' | translate}}
 </a>